<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>

      <system.web>
        <machineKey validationKey="CB2721ABDAF8E9DC516D621D8B8BF13A2C9E8689A25303BF"  decryptionKey="E9D2490BD0075B51D1BA5288514514AF"  validation="SHA1" decryption="3DES"/>
      </system.web>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
